apiVersion: v1
kind: ConfigMap
metadata:
  name: g-match-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "g-match.labels" . | nindent 4 }}
data:
  DEBUG: {{ .Values.config.debug | quote }}
  ALLOWED_HOSTS: {{ .Values.config.allowedHosts | quote }}

  DB_NAME: {{ .Values.config.db.name | quote }}
  DB_USER: {{ .Values.config.db.user | quote }}
  DB_HOST: {{ include "g-match.mysql.host" . | quote }}
  DB_PORT: {{ .Values.config.db.port | quote }}

  REDIS_HOST: {{ include "g-match.redis.host" . | quote }}
  REDIS_PORT: {{ .Values.config.redis.port | quote }}

  FRONTEND_URL: {{ .Values.config.frontend.url | quote }}
  FRONTEND_AUTH_CALLBACK_URL: {{ .Values.config.frontend.authCallbackUrl | quote }}

  GIST_OIDC_CLIENT_ID: {{ .Values.config.gistOidc.clientId | quote }}
  GIST_OIDC_REDIRECT_URI: {{ .Values.config.gistOidc.redirectUri | quote }}
  GIST_OIDC_POST_LOGOUT_REDIRECT_URI: {{ .Values.config.gistOidc.postLogoutRedirectUri | quote }}
