{{- if .Values.secrets.dockerconfigjson }}
apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "g-match.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": never
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.secrets.dockerconfigjson | quote }}
{{- end }}
